@import '../mixins';
@import '../variables';

.footer {
    @include large-conteiner;
    height: 9rem;
    background-color: $color-lightblue;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .social-media{
       @include social-media($color-white, $color-blue)
    } 
    }
     
   
        
    